@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="text-center">
    <h1 class="display-4">Вітаємо на сайті Drift Paradise</h1>
    <p>Тут ви можете дізнатись про кращі дріфт-команди з усього світу, їхні надпотужні автомобілі та заходи, де їх можна зустріти</a>.</p>
</div>

<div class="text-center">
    <form method="post" asp-controller="Racers" asp-action="Create">
            <input type="submit" value="Реєстрація" style = "height: 50px; width: 180px;" text-align: center  />
    </form>
</div>
