@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to drifters paradise</h1>
    <p>Learn about the greatest drift teams all over the world, their heavy-duty cars and places where you can find them</a>.</p>
</div>
